body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background: url("/assets/product_catalog_bg.png");
}
.container {
  width: 1320px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  margin-top: 5%;
}

.product-image-section {
  /* flex: 1; */
  border: 2px solid red;
  /* width: 650px; */
  height: 400px;
  border: #cccccc;
}

.product-image-section img {
  height: 100%;
}

.product-details-section {
  /* flex: 2; */
  padding: 20px;
  border: 5px solid black;
}

.button-container {
  width: 253px;
  height: 60px;
  padding: 2px 5px;
  background-color: #ff21fb;
  border-radius: 90px;
  border-width: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.button-text {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Comic Sans MS", sans-serif;
  line-height: 1.5;
}

.back-button {
  width: 672px;
  text-align: left;
}

#backBtn {
  background-color: transparent;
  color: #000000;
  padding: 10px 0;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #999;
  height: 2px;
  margin: 24px 0;
}
.product-card h2 {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 10px;
  color: #000000;
  font-family: "Comic Sans MS", sans-serif;
  line-height: 1.2;
}
/* .product-card div {
  width: 672px;
  color: black;
  font-size: 16px;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  line-height: 28.8px;
} */
.product-card.price {
  width: 437.79px;
  color: #ff21fb;
  opacity: 0.9;
  font-size: 32px;
  font-weight: normal;
  font-family: "Comic Sans MS", sans-serif;
  line-height: 51.2px;
}
footer {
  margin-top: auto;
  padding-top: 20px;
  padding-bottom: 30px;
  color: #999999;
  font-size: 12px;
  letter-spacing: 0.1em;
}
