body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background: url("/assets/product_catalog_bg.png");
}

.product-card {
  width: 28%;
  margin: 20px 0;
  padding: 20px;
  /* background-color: #29b162; */
  cursor: pointer;
}
.product-card img {
  width: 260px;
  height: 350px;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
  object-fit: cover;
}

.product-card h2 {
  margin-bottom: 10px;
  color: #000000;
  font-family: "Comic Sans MS", sans-serif;
  text-align: center;
  /* width: 437.79px; */
  font-size: 32px;
  line-height: 51.2px;
  height: 100px;
  overflow: hidden;
  overflow-y: auto;
}
