* {
  margin: 0;
  padding: 0;
}
body {
  background: url("/assets/product_catalog_bg.png");
  color: #666666;
  padding-top: 20px;
  font-size: 16px;
  line-height: 170%;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
}

#logo {
  width: 57px;
  height: 57px;
}

h1 {
  color: rgba(255, 0, 255, 0.9);
  font-size: 64px;
  font-family: "Comic Sans MS", sans-serif;
  line-height: 64px;
}

p {
  color: #000000;
  font-size: 1.125rem;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  line-height: 1.44;
}

.line {
  width: 100%;
  height: 0px;
  border: 2px solid rgba(171, 184, 195, 0.5);
  margin: 20px 0;
}

footer {
  margin-top: auto; /* Adjusted margin-top to push footer to the bottom */
  padding-top: 20px;
  padding-bottom: 30px;
  color: #999999;
  font-size: 12px;
  letter-spacing: 0.1em;
}

.product-card {
  width: 438.79px;
  height: 453px;
  margin: 20px 0;
  padding: 20px;
  background-color: #29b162;
  border: #cccccc;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.product-card img {
  width: 410px;
  height: 350px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.product-card h2 {
  margin-bottom: 10px;
  color: #000000;
  font-family: "Comic Sans MS", sans-serif;
  text-align: center;
  width: 437.79px;
  font-size: 32px;
  line-height: 51.2px;
}

.product-card p {
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
  color: #000000;
  text-align: center;
}

#product-container #products {
  margin-top: 50px;
}

/* pagination */
#product-container #pagination {
  margin-top: 50px;
  text-align: right;
}

#product-container #pagination .pagination-image {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("/assets/pagination_cat2.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
}
#product-container #pagination .pagination-image.active {
  background-image: url("/assets/pagination_cat1.png");
}

/* responsive
@media (min-width: 992px) {
  .product-card > * {
    width: calc(100% / 3);
  }
} */
