body {
  background: url("/assets/product_catalog_bg.png");
}

.container {
  /* width: 1440px;
  height: 1872px; */
  position: relative;
  /*border: 1px solid #cbd5e0;*/ /* neutral-400 */
}

.logo {
  width: 57px;
  height: 57px;
}

h1 {
  /* width: 1258px; */
  color: rgba(255, 0, 255, 0.9); /* text-fuchsia-500 text-opacity-90 */
  font-size: 64px;
  font-family: "Comic Sans MS", sans-serif;
  line-height: 64px; /*leading-64px*/
}

p {
  /* width: 998px; */
  color: #000000;
  font-size: 1.125rem; /*  text-lg  */
  font-weight: normal;
  font-family: "Inter", sans-serif;
  line-height: 1.44; /* leading-[28.80px]  */
}
.line {
  width: 1379px;
  height: 0px;
  border: 2px solid rgba(171, 184, 195, 0.5);
  margin: 20px auto; /* Center the line horizontally and add some margin */
}

/* .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  height: auto; 
  margin-left: 30px;
  margin-right: 30px; 
} */

.inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  flex-flow: wrap;
  gap: 12px;
}

.inner-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28%;
  /* height: auto;
  width: 438.79px;
  height: 453px; */
}
/* Add hover effect for inner-card */
.inner-card:hover {
  cursor: pointer;
  box-shadow: 0 0 6px rgba(255, 0, 255, 0.5);
  transform: scale(1.05); /* scale transformation on hover */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* smooth transition effects */
}

.card-image {
  border: 2px solid rgba(171, 184, 195, 0.5);
}
.card-title {
  font-size: 32px;
  font-weight: normal;
  font-family: "Comic Sans MS";
  line-height: 51.2px;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.card-desc {
  font-size: 12px;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  /* line-height: 28.8px; */
  margin: 12px 0 0 0;
}
.copywrite {
  position: absolute;
  left: 30px;
  top: 1800px;
  color: #a0a0a0; /* Replace with the appropriate value for text-stone-500 */
  font-size: 1rem; /* Equivalent to text-sm in Tailwind CSS */
  font-weight: normal;
  font-family: "Comic Sans MS", cursive;
}
.catFace {
  display: flex;
  justify-content: flex-end;
}
